p-icon-add-dims {
  width: 24px;
  height: 24px;
}

p-icon-announcement-dims {
  width: 24px;
  height: 24px;
}

p-icon-buy-market-dims {
  width: 24px;
  height: 24px;
}

p-icon-calendar-dims {
  width: 24px;
  height: 24px;
}

p-icon-chat-dims {
  width: 24px;
  height: 24px;
}

p-icon-check-black-dims {
  width: 20px;
  height: 21px;
}

p-icon-check-shield-black-dims {
  width: 21px;
  height: 21px;
}

p-icon-chevron-down-dims {
  width: 24px;
  height: 24px;
}

p-icon-chevron-left-dims {
  width: 24px;
  height: 24px;
}

p-icon-chevron-right-dims {
  width: 24px;
  height: 24px;
}

p-icon-chevron-up-dims {
  width: 24px;
  height: 24px;
}

p-icon-circle-check-dims {
  width: 48px;
  height: 48px;
}

p-icon-close-dims {
  width: 24px;
  height: 24px;
}

p-icon-cooling-dims {
  width: 24px;
  height: 24px;
}

p-icon-dashboard-dims {
  width: 24px;
  height: 24px;
}

p-icon-deposit-dims {
  width: 18px;
  height: 16px;
}

p-icon-digital-cert-dims {
  width: 20px;
  height: 20px;
}

p-icon-document-dims {
  width: 24px;
  height: 24px;
}

p-icon-empty-annoucements-dims {
  width: 60px;
  height: 53.85px;
}

p-icon-empty-equity-token-dims {
  width: 60px;
  height: 59.7px;
}

p-icon-empty-in-progress-dims {
  width: 60px;
  height: 59.59px;
}

p-icon-empty-orders-dims {
  width: 60px;
  height: 60px;
}

p-icon-equity-transaction-dims {
  width: 23px;
  height: 23px;
}

p-icon-events-dims {
  width: 24px;
  height: 24px;
}

p-icon-fail-dims {
  width: 24px;
  height: 24px;
}

p-icon-green-tick-dims {
  width: 24px;
  height: 25px;
}

p-icon-help-dims {
  width: 24px;
  height: 24px;
}

p-icon-history-dims {
  width: 24px;
  height: 24px;
}

p-icon-info-circle-dims {
  width: 24px;
  height: 24px;
}

p-icon-invest-dims {
  width: 24px;
  height: 24px;
}

p-icon-limit-dims {
  width: 30px;
  height: 30px;
}

p-icon-live-dims {
  width: 24px;
  height: 24px;
}

p-icon-lock-dims {
  width: 24px;
  height: 24px;
}

p-icon-mail-dims {
  width: 24px;
  height: 24px;
}

p-icon-map-dims {
  width: 24px;
  height: 24px;
}

p-icon-news-dims {
  width: 24px;
  height: 24px;
}

p-icon-phone-dims {
  width: 24px;
  height: 24px;
}

p-icon-pledges-dims {
  width: 24px;
  height: 24px;
}

p-icon-portfolio-dims {
  width: 24px;
  height: 24px;
}

p-icon-prelive-dims {
  width: 24px;
  height: 24px;
}

p-icon-question-book-dims {
  width: 20px;
  height: 21px;
}

p-icon-red-cross-dims {
  width: 25px;
  height: 25px;
}

p-icon-rejected-dims {
  width: 24px;
  height: 24px;
}

p-icon-saved-dims {
  width: 24px;
  height: 24px;
}

p-icon-sell-market-dims {
  width: 24px;
  height: 24px;
}

p-icon-shareallotment-dims {
  width: 24px;
  height: 24px;
}

p-icon-shariah-accountability-dims {
  width: 59.34px;
  height: 60px;
}

p-icon-shariah-alignment-dims {
  width: 59.15px;
  height: 60px;
}

p-icon-shariah-blur-campaign-dims {
  width: 42.54px;
  height: 60px;
}

p-icon-shariah-blur-campaign-desktop-dims {
  width: 56.99px;
  height: 60px;
}

p-icon-shariah-consent-dims {
  width: 60px;
  height: 59.37px;
}

p-icon-shariah-diverse-dims {
  width: 59.34px;
  height: 60px;
}

p-icon-shariah-harm-dims {
  width: 60px;
  height: 59.37px;
}

p-icon-shariah-justice-dims {
  width: 60px;
  height: 60px;
}

p-icon-shariah-market-dims {
  width: 59.15px;
  height: 60px;
}

p-icon-shariah-oversight-dims {
  width: 59.15px;
  height: 60px;
}

p-icon-shariah-recognized-dims {
  width: 59.15px;
  height: 60px;
}

p-icon-shariah-rights-dims {
  width: 60px;
  height: 60px;
}

p-icon-shariah-risk-dims {
  width: 59.34px;
  height: 60px;
}

p-icon-shariah-screening-dims {
  width: 59.15px;
  height: 60px;
}

p-icon-shariah-transparency-dims {
  width: 60px;
  height: 59.37px;
}

p-icon-success-dims {
  width: 24px;
  height: 24px;
}

p-icon-success-circle-dims {
  width: 24px;
  height: 24px;
}

p-icon-unlock-dims {
  width: 24px;
  height: 24px;
}

p-icon-unsaved-dims {
  width: 24px;
  height: 24px;
}

p-icon-wallet-dims {
  width: 24px;
  height: 24px;
}

p-icon-warning-dims {
  width: 24px;
  height: 24px;
}

p-icon-warning-circle-dims {
  width: 24px;
  height: 24px;
}

p-icon-whatsapp-dims {
  width: 24px;
  height: 24px;
}

p-icon-white-cross-dims {
  width: 15px;
  height: 15px;
}

p-icon-white-tick-dims {
  width: 15px;
  height: 16px;
}

p-icon-withdraw-dims {
  width: 20px;
  height: 20px;
}

